html {
    height: 100%;
}

body a {
    color: #ffff;
    font-size: 20px;
    text-decoration: none;
}

body {
   background-image: url(https://static.vecteezy.com/system/resources/previews/000/681/346/non_2x/minimalist-green-glowing-tech-line-background.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}

.container {
    margin: 50px auto;
    width: 400px;
    padding: 30px;
    background: rgba(90, 89, 89, 0.5);
    border-radius: 50px;
}

.container h1 {
    margin: 0 0 30px;
    padding: o;
    font-size: 30px;
    color: #ffff;
    text-align: center;
}

.container .element label{
    color: #ffff;
}

.container .element input{
    width: 100%;
    padding: 10px 0;
    color: #ffff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ffff;
    margin-bottom: 30px;
}

.container .element input[type="submit"]{
    background-color: #20cf5a;
    border: none;
    letter-spacing: 5px;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    margin-top: 30px;
    border-radius: 30px;
}
.container .element p{
    color: #ffff;
    text-align: center;
}

.container .element a{
    color: #998a8a;
}

.container .element img {
    height: 20px;
    padding: 20px;
    position: relative;
    right: -60px;
}
.container .element .olvidate {
    position: relative;
    right: -80px;

}